* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

body {
    align-items: center;
    background-color: var(--body-bg);
    display: flex;
    font-family: var(--font-family);
    justify-content: center;
    min-height: 100vh;
}

.button {
    background-color: var(--btn-bg);
    background: 
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(115deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5)) border-box;
    border: 3px solid transparent;
    color: var(--btn-color);
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 2rem;
    transition: background .2s ease-in, color .2s ease-in, transform .2s ease-in;
}

.button:hover {
    color: var(--btn-color-hover);
    background: 
    linear-gradient(#000000, #000000) padding-box,
    linear-gradient(-115deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5)) border-box;
    transform: scale(1.1);
}
